.accept-cookie-toast {
    --min-width: calc(100% - var(--start) * 2);
    --max-width: var(--min-width);
    --ion-color-base: rgba(255, 255, 255, 0.9) !important;
    --border-radius: 0;
    --box-shadow: #66666626;

    &::part(container) {
        text-align: center;
        padding: 12px;
    }

    &::part(header) {
        font-size: 120%;
        font-weight: 500;
        margin-bottom: 16px;
    }
}
