%modal {
    @media (max-width: #{$wzz-width-lg}) {
        align-items: flex-end;
    }

    ion-header {
        --ion-safe-area-top: 0;
    }

    &::part(content) {
        background: transparent;

        @media (min-width: #{$wzz-width-lg+1}) {
        }

        @media (max-width: #{$wzz-width-lg}) {
            padding-bottom: var(--ion-safe-area-bottom);
        }
    }

    .ion-page {
        background: #fff;
    }
}
