@import "./_plt-desktop-modal";

* {
    outline: none;
}

html {
    min-width: var(--wzz-max-width);
    --wzz-main-height: 100%;
    --scrollbar-width: 0px;
    user-select: none;
}

.plt-desktop {
    --scrollbar-width: 17px;
    user-select: auto;
    .ion-activatable {
        cursor: pointer;
    }
}

ion-header {
    z-index: 101;
}
ion-title {
    font-size: var(--wzz-font-size-xl);
    font-weight: 500;
}

ion-item {
    font-size: inherit;
}
ion-label[required]::after {
    content: "*";
    margin-left: 0.3em;
    color: var(--ion-color-danger);
}
ion-button {
    --box-shadow: none;
}
button {
    font-size: inherit;
    padding: 0;
}
img {
    vertical-align: top;
}
figure {
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.toast-text-center {
    text-align: center;
    --border-radius: 8px;
}
.ion-activatable:not(ion-button) {
    position: relative;
}
ion-ripple-effect {
    z-index: 1;
}
input,
textarea {
    transition: background 0.2s;
    border-radius: 0;
    -webkit-appearance: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: inherit;
    box-shadow: 0 0 0 30px white inset !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input::placeholder,
textarea::placeholder {
    color: #808080;
}

input:focus,
textarea:focus {
    &::placeholder {
        color: transparent;
    }
}

.alert-button-group-vertical {
    flex-direction: row !important;
}
.alert-title.sc-ion-alert-ios {
    font-weight: 500;
}

.wzz-alert {
    .alert-title {
        font-weight: 500;
        line-height: 1.25;
    }
    .alert-sub-title,
    .alert-message {
        white-space: pre-line;
    }

    .alert-message {
        font-size: var(--wzz-font-size-lg);
    }

    .alert-button {
        min-width: auto;
        color: var(--ion-color-dark);
        font-size: 14px;
        font-weight: 500 !important;
    }
    .alert-button-role-cancel {
        color: var(--ion-color-medium);
        font-weight: 400 !important;
    }
    .danger {
        color: var(--ion-color-danger);
    }
}

.wzz-loading-t1 {
    --spinner-color: var(--ion-color-secondary);
    --background: transparent;

    .spinner-crescent {
        width: 60px;
        height: 60px;
    }
    .spinner-circular {
        width: 50px;
        height: 50px;
    }
}

.wzz-loading-t2 {
    --spinner-color: var(--ion-color-secondary);
    .spinner-crescent {
        width: 40px;
        height: 40px;
    }
}

.wzz-loading-toast {
    text-align: center;
    font-weight: 500;
    --box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    --width: 180px;
    --height: 42px;
    --border-radius: 6px;
    --color: #fff;
    --background: var(--ion-color-secondary);
}

.wzz-select-modal {
    --width: calc(100% - 70px);
    --max-width: 540px;
    --height: 440px;
    --max-height: calc(100% - 70px);
    --background: transparent;
    padding-top: var(--ion-safe-area-top);
    padding-bottom: var(--ion-safe-area-bottom);
    --backdrop-opacity: 0.3 !important;
    ion-header {
        --ion-safe-area-top: 0;
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0 !important;
}

.ion-img-viewer {
    --ion-color-primary: #fff;
}

.ion-content-scroll-host {
    width: 100%;
    height: 100%;
    background: var(--ion-color-light);

    empty {
        display: none;
    }

    @media (min-width: #{$wzz-width-lg+1}) {
        .cdk-virtual-scroll-content-wrapper {
            padding-top: 0 !important;
        }
    }

    &.empty {
        background: #fff;
        empty {
            display: flex;
        }
    }
}

ion-refresher {
    padding-top: var(--refresher-offset-top, 0px);
    height: calc(60px + var(--refresher-offset-top, 0px));
}

.header-md::after {
    content: none;
}

.footer-md::before {
    content: none;
}

ion-header {
    --ion-toolbar-background: #fff;
}

ion-tab-bar {
    --ion-tab-bar-background: #fff;
}

ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --border-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.tab-toolbar {
    --padding-start: 0;
    --padding-end: 0;
}

.buttons-last-slot {
    margin-right: var(--wzz-spacing-x-xxl);
}

.buttons-first-slot {
    margin-left: var(--wzz-spacing-x-xxl);
}

ion-back-button {
    --icon-font-size: 24px;
    --padding-start: var(--wzz-spacing-lg);
    --padding-end: var(--wzz-spacing-lg);
    --icon-margin-start: 0;
    --icon-margin-end: 0;
    --background-hover: transparent !important;
}

.modal-back-btn {
    --color: var(--ion-color-dark);
    --ion-font-size: 24px;
    --padding-start: var(--wzz-spacing-lg);
    --padding-end: var(--wzz-spacing-lg);
    --background-hover: transparent !important;

    color: var(--ion-color-dark);
    font-size: 24px !important;
    margin: 0 !important;
    padding: var(--wzz-spacing-lg) !important;
    background: transparent;
    transition: opacity 0.3s;

    &:active {
        opacity: 0.7;
    }

    > ion-icon {
        vertical-align: top;
        font-size: var(--ion-font-size);
    }
}

.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}

button {
    user-select: none;
}