.p1s {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: #{$wzz-width-lg}) {
        padding: 0 var(--wzz-spacing-x-xxl);
    }
    @media (max-width: #{$wzz-width-lg}) {
        padding: 0 var(--wzz-spacing-lg);
    }
}

.p1 {
    transition: all 0.2;

    @media (min-width: #{$wzz-width-lg}) {
        flex: 0 0 25%;
        padding: 0 var(--wzz-spacing-x-xxl) var(--wzz-spacing-3-4xl);
    }
    @media (max-width: #{$wzz-width-lg}) {
        flex: 0 0 50%;
        padding: 0 var(--wzz-spacing-lg) var(--wzz-spacing-xxl);
    }
    &-num {
        position: absolute;
        top: var(--wzz-spacing-xl);
        right: var(--wzz-spacing-xl);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        background: var(--ion-color-danger);
    }
    &.unselected {
        filter: grayscale(1);
        opacity: 0.5;
    }
}
