<ion-header mode="ios" collapse="fade">
  <wzz-header [title]="'Contact' | translate" [defaultHref]="[language, 'home'] | routerLink"></wzz-header>
</ion-header>
<ion-content #content class="root-content">
  <wzz-subheader></wzz-subheader>
  <section class="host" *ngIf="visible">
    <div class="host-inner">
      <header class="host-header">
        <div class="t1">{{'Contact' | translate}}</div>
      </header>
      <div class="c1c">
        <div class="c1c-t1">{{'Orario di lavoro' | translate}}</div>
        <div class="c1c-t2">{{'lunedì - sabato: 10:00-20:00' | translate}}</div>
        <div class="c1s">
          <div class="c1">
            <a class="c1-n" href="https://www.instagram.com/fasunidy_pressonails/" target="_blank" rel="nofollow">
              <ion-icon name="ins-outline"></ion-icon>
              <div class="c1-t1">{{'Instagram' | translate}}</div>
              <div class="c1-t2">Fasunidy</div>
              <button class="c1-btn">{{'Invia messaggio' | translate}}</button>
            </a>
          </div>
          <div class="c1">
            <a class="c1-n" href="mailto:Info@fasunidy.com" target="_blank" rel="nofollow">
              <ion-icon name="email-outline"></ion-icon>
              <div class="c1-t1">{{'E-mail' | translate}}</div>
              <div class="c1-t2">Info&#64;fasunidy.com</div>
              <button class="c1-btn">{{'Invia messaggio' | translate}}</button>
            </a>
          </div>
          <div class="c1">
            <a class="c1-n" href="https://wa.me/393279771006" target="_blank" rel="nofollow">
              <ion-icon name="whatsapp-outline"></ion-icon>
              <div class="c1-t1">{{'Whatsapp' | translate}}</div>
              <div class="c1-t2">+39 3279771006</div>
              <button class="c1-btn">{{'Invia messaggio' | translate}}</button>
            </a>
          </div>
        </div>
      </div>
      <div class="e1" [formGroup]="form">
        <div class="e1-t">{{'Contact us' | translate}}</div>
        <div class="e1-n">
          <input class="e1-input-el" formControlName="Name" [placeholder]="'Nome' | translate">
          <input class="e1-input-el" formControlName="Email" [placeholder]="'Email' | translate">
          <textarea class="e1-input-el" formControlName="Message" [placeholder]="'Messaggio' | translate"
            style="height: 160px;"></textarea>
        </div>
        <button class="e1-btn" (click)="onSubmit()">{{'Invia' | translate | uppercase}}</button>
      </div>
    </div>
    <wzz-footer></wzz-footer>
  </section>
</ion-content>