.m1c {
    user-select: none;
    &-t {
        font-size: var(--wzz-font-size-xxl);
        font-weight: 500;
        font-family: "trajan", sans-serif;
    }
}

.m1s {
    color: var(--ion-color-medium);
    padding: var(--wzz-spacing-xxl) 0;
}

.m1 {
    display: flex;
    align-items: center;
    padding: var(--wzz-spacing-xxl) 0;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.2s;

    &::before {
        content: "";
        display: block;
        width: 8px;
        height: 12px;
        border-left: 1px solid transparent;
    }

    &.active {
        color: var(--ion-color-dark);
        font-weight: 500;
        &::before {
            border-left-color: inherit;
        }
    }
}

.m2c {
    user-select: none;
    padding: var(--wzz-spacing-4xl) var(--wzz-spacing-xxl);
    &-t {
        font-size: 18px;
        font-weight: 500;
        font-family: "trajan", sans-serif;
    }
}

.m2s {
}

.m2 {
    display: flex;
    align-items: center;
    padding: 20px 0;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px solid var(--ion-color-light-shade);
    &:last-child {
        border-bottom-style: none;
    }
}
