.footer {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--ion-color-light-shade);
    font-size: var(--wzz-font-size-lg);
    &-c1 {
        flex: 1;
        padding: 0 var(--wzz-spacing-xxl);
    }

    &-btn {
        display: flex;
        align-items: center;
        font-size: var(--wzz-font-size-lg);
        padding: 0 var(--wzz-spacing-3xl);
        height: 50px;
        color: #fff;
        background: var(--ion-color-dark);
    }
}
