.g1c {
    margin-top: var(--wzz-spacing-xxl);
    background: #fff7f0;
    &-btn {
        font-size: var(--wzz-font-size-lg);
        color: var(--ion-color-primary);
        background: transparent;
        text-decoration: underline;
        padding: 12px;
        margin: -12px;
    }
}

.g1s {
    display: flex;
    flex-wrap: wrap;
    padding: var(--wzz-spacing-x-xxl);
}

.g1 {
    display: flex;
    align-items: center;
    padding: var(--wzz-spacing-x-xxl);

    @media (min-width: #{$wzz-width-lg}) {
        flex: 0 0 50%;
    }

    @media (max-width: #{$wzz-width-lg}) {
        flex: 0 0 100%;
    }

    &-image {
        @extend %image;
        --height: var(--pro-height);
        width: 80px;
        flex: 0 0 auto;
        overflow: hidden;
        object-fit: cover;
    }
    &-c1 {
        display: flex;
        flex-direction: column;
        margin-left: var(--wzz-spacing-xxl);
    }
    &-name {
        color: #000;
        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    &-note {
        margin-top: var(--wzz-spacing-lg);
        color: var(--ion-color-medium-shade);
    }
    &-opr {
        display: flex;
        align-items: center;
        margin-top: var(--wzz-spacing-lg);
    }
    &-qt {
    }
    &-tag {
        margin-top: var(--wzz-spacing-lg);
        color: var(--ion-color-warning);
        font-weight: 500;
    }
    &-remove {
        display: flex;
        align-items: center;
        font-size: 17px;
        color: var(--ion-color-medium);
        background: transparent;
        padding: 12px;
        margin: -12px -12px -12px 0;
    }
}
