<ion-header mode="ios" collapse="fade">
  <wzz-header [title]="'Privacy policy' | translate" [defaultHref]="[language, 'home'] | routerLink"></wzz-header>
</ion-header>
<ion-content #content class="root-content">
  <wzz-subheader></wzz-subheader>
  <section class="host" *ngIf="visible">
    <div class="host-inner">
      <div class="t1">{{'Privacy policy' | translate | uppercase}}</div>
      <div class="r1s">
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_1' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_1' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_2' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_2' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_3' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_3' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_4' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_4' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_5' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_5' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_6' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_6' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_7' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_7' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_8' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_8' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_9' | translate}}</div>
          <div class="r1-n">
           <div class="r1-t2" [innerHTML]="'privacy_policy_text_9' | translate"></div>
          </div>
        </div>
        <div class="r1">
          <div class="r1-t1">{{'privacy_policy_title_10' | translate}}</div>
        </div>
      </div>
    </div>
    <wzz-footer></wzz-footer>
  </section>
</ion-content>