.n1 {
    padding: var(--wzz-spacing-3-4xl) var(--wzz-spacing-3-4xl) 0;
    &-t {
        text-align: center;
        font-family: "trajan", sans-serif;
        font-weight: 500;
        font-size: 21px;
    }
    &-n {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--wzz-font-size-xl);
        margin-top: var(--wzz-spacing-xxl);
    }
    &-text {
    }
}
