<ion-header mode="ios" collapse="fade">
  <wzz-header [title]="'Tutorial' | translate" [defaultHref]="[language, 'home'] | routerLink"></wzz-header>
</ion-header>
<ion-content #content class="root-content">
  <wzz-subheader></wzz-subheader>
  <section class="host" *ngIf="visible">
    <div class="host-inner">
      <div class="t1">{{'ISTRUZIONI' | translate | uppercase}}</div>
      <div class="v1s">
        <div class="v1">
          <div class="v1-t1">{{'Fasunidy gel solido' | translate}}</div>
          <div class="v1-frame">
            <iframe src="https://www.youtube.com/embed/g1elqIS99mM" title="Gel solido how to apply" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="v1-t2">{{'Nota bene' | translate | uppercase}}</div>
          <div class="v1-t3" [innerHTML]="'instruction_text_1' | translate"></div>
          <div class="v1-frame">
            <iframe src="https://www.youtube.com/embed/c4h9jZSgI7E" title="Gel solito how to remove" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="v1">
          <div class="v1-t1">{{'Biadesivo' | translate}}</div>
          <div class="v1-frame">
            <iframe src="https://www.youtube.com/embed/FC1Lw97Y5ng" title="Biadesivo how to apply" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="v1-t2">{{'Nota bene' | translate | uppercase}}</div>
          <div class="v1-t3" [innerHTML]="'instruction_text_2' | translate"></div>
          <div class="v1-frame">
            <iframe src="https://www.youtube.com/embed/yp2d_RY8kv8"
              title="Biadesivo how to remove" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <wzz-footer></wzz-footer>
  </section>
</ion-content>