<ion-header mode="ios" collapse="fade">
  <wzz-header [title]="'Tutorial' | translate" [defaultHref]="[language, 'home'] | routerLink"></wzz-header>
</ion-header>
<ion-content #content class="root-content">
  <wzz-subheader></wzz-subheader>
  <section class="host" *ngIf="visible">
    <div class="host-inner">
      <div class="v1">
        <div class="t1">{{'Video tutorial' | translate | uppercase}}</div>
        <div class="v1-n">
          <video [controls]="!v1VideoEl?.paused" #v1VideoRef>
            <source src="assets/sources/tutorial.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="v1-btn" (click)="v1VideoEl?.play(); cdRef.detectChanges();" *ngIf="v1VideoEl?.paused">
            <ion-icon name="video-play"></ion-icon> 
          </div>
        </div>
      </div>
      <div class="i1c">
        <div class="t1">{{'Istruzioni' | translate | uppercase}}</div>
        <div class="i1s">
          <div class="i1">
            <figure class="i1-image">
              <img src="assets/imgs/pages/tutorial/instruction_1.jpg">
            </figure>
            <div class="i1-step">1</div>
            <div class="i1-text">{{'instruction_text_1' | translate}}</div>
          </div>
          <div class="i1">
            <figure class="i1-image">
              <img src="assets/imgs/pages/tutorial/instruction_2.jpg">
            </figure>
            <div class="i1-step">2</div>
            <div class="i1-text">{{'instruction_text_2' | translate}}</div>
          </div>
          <div class="i1">
            <figure class="i1-image">
              <img src="assets/imgs/pages/tutorial/instruction_3.jpg">
            </figure>
            <div class="i1-step">3</div>
            <div class="i1-text">{{'instruction_text_3' | translate}}</div>
          </div>
          <div class="i1">
            <figure class="i1-image">
              <img src="assets/imgs/pages/tutorial/instruction_4.jpg">
            </figure>
            <div class="i1-step">4</div>
            <div class="i1-text">{{'instruction_text_4' | translate}}</div>
          </div>
          <div class="i1">
            <figure class="i1-image">
              <img src="assets/imgs/pages/tutorial/instruction_5.jpg">
            </figure>
            <div class="i1-step">5</div>
            <div class="i1-text">{{'instruction_text_5' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="n1">
        <div class="n1-t">{{'Nota bene' | translate | uppercase}}:</div>
        <div class="n1-n">
          <div class="n1-text">{{'instruction_note_1' | translate}}</div>
          <div class="n1-text">{{'instruction_note_2' | translate}}</div>
          <div class="n1-text">{{'instruction_note_3' | translate}}</div>
        </div>
      </div>
    </div>
    <wzz-footer></wzz-footer>
  </section>
</ion-content>