@import "src/app/fw/styles/_variables";
@import "src/app/fw/styles/_image";
@import "src/app/styles/_form-t1";
@import "./_product";
@import "./_file";

ion-select {
    &::part(icon) {
        height: 100% !important;
    }
}

ion-toolbar {
    --min-height: 60px;
}

ion-title {
    font-family: "trajan", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.host {
    user-select: none;
    padding: 0 var(--wzz-spacing-3-4xl);
}

.t1 {
}

.t2 {
    color: var(--ion-color-danger);
}

.prop {
    padding-inline: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: var(--wzz-font-size-lg);
    padding: var(--wzz-spacing-xxl) var(--wzz-spacing-3-4xl);
    border-top: 1px solid var(--ion-color-light-shade);
}

.sums {
    display: flex;
    align-items: center;
    > * {
        margin-right: var(--wzz-spacing-xxl);
    }
}

.submit-btn {
    font-weight: 500;
    border: 1px solid var(--ion-color-dark);
    padding: 0 var(--wzz-spacing-3-4xl);
    height: 40px;

    color: #fff;
    background: var(--ion-color-dark);
}
