<ion-tabs>
    <!-- <ion-tab-bar slot="bottom" #tabbar class="f-lt-lg">
        <a class="tab" [routerLink]="[language, 'home'] | routerLink" queryParamsHandling="merge"
            routerLinkActive="tab-selected">
            <ion-icon class="tab-icon on" name="home-on"></ion-icon>
            <ion-icon class="tab-icon off" name="home-off"></ion-icon>
        </a>
        <a class="tab" [routerLink]="[language, 'category'] | routerLink" queryParamsHandling="merge"
            routerLinkActive="tab-selected">
            <ion-icon class="tab-icon on" name="category-on"></ion-icon>
            <ion-icon class="tab-icon off" name="category-off"></ion-icon>
        </a>
        <a class="tab" [routerLink]="[language, 'shop'] | routerLink" queryParamsHandling="merge"
            routerLinkActive="tab-selected">
            <ion-icon class="tab-icon on" name="contact-on"></ion-icon>
            <ion-icon class="tab-icon off" name="contact-off"></ion-icon>
        </a>
        <a class="tab" [routerLink]="[language, 'me'] | routerLink" queryParamsHandling="merge"
            routerLinkActive="tab-selected">
            <ion-icon class="tab-icon on" name="account-on"></ion-icon>
            <ion-icon class="tab-icon off" name="account-off"></ion-icon>
        </a>
    </ion-tab-bar> -->
    <ion-header mode="ios" collapse="fade" ngSkipHydration>
        <wzz-header [inTab]="true"></wzz-header>
    </ion-header>
</ion-tabs>