.o {
    font-size: var(--wzz-font-size-lg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--wzz-spacing-xxl) var(--wzz-spacing-xxl);

    &-n {
        display: flex;
    }

    &-n,
    &-tocart {
        flex: 1;
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;

        &.add {
            color: #fff;
            background: var(--ion-color-dark);
        }

        &.remove {
            color: var(--ion-color-dark);
            background: var(--ion-color-light-shade);
        }

        > ion-icon {
            font-size: 21px;
        }
    }
    &-input {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        font-size: var(--wzz-font-size-lg);
        font-weight: 500;
        padding: 0 var(--wzz-spacing-xl);
        border-style: none;
        background: var(--ion-color-light);
        cursor: pointer;
    }
    &-tocart {
        height: 44px;
        color: #fff;
        background: var(--ion-color-dark);
    }
}
