// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@import "src/app/fw/styles/_variables";

:root {
  color: #1a1a1a;

  --ion-color-primary: #186cac;
  --ion-color-primary-rgb: 24, 108, 172;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #155f97;
  --ion-color-primary-tint: #2f7bb4;
  --ion-color-secondary: #008eff;
  --ion-color-secondary-rgb: 0, 142, 255;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #007de0;
  --ion-color-secondary-tint: #1a99ff;
  --ion-color-tertiary: #ee6a19;
  --ion-color-tertiary-rgb: 238, 106, 25;
  --ion-color-tertiary-contrast: #000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d15d16;
  --ion-color-tertiary-tint: #f07930;
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-warning: #bc8700;
  --ion-color-warning-rgb: 188, 135, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #a57700;
  --ion-color-warning-tint: #c3931a;
  --ion-color-danger: #f93b3b;
  --ion-color-danger-rgb: 249, 59, 59;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #db3434;
  --ion-color-danger-tint: #fa4f4f;
  --ion-color-dark: #1a1a1a;
  --ion-color-dark-rgb: 26, 26, 26;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #171717;
  --ion-color-dark-tint: #4d4d4d;
  --ion-color-medium: #808080;
  --ion-color-medium-rgb: 128, 128, 128;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #717171;
  --ion-color-medium-tint: #8d8d8d;
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e8e8e3;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-shader: #f0f0f0;
  --ion-color-light-shader-rgb: 240, 240, 240;
  --ion-color-light-shadest: #d9d9d9;

  --wzz-header-height: 44px;
  --wzz-footer-padding-bottom: env(safe-area-inset-bottom);
  --wzz-footer-height: 56px;

  --wzz-font-size-sm: 11px;
  --wzz-font-size-md: 12px;
  --wzz-font-size-md-l: 13px;
  --wzz-font-size-lg: 14px;
  --wzz-font-size-lg-l: 15px;
  --wzz-font-size-xl: 16px;
  --wzz-font-size-xxl: 18px;
  --wzz-font-size-xxl-l: 19px;
  --wzz-font-size-3xl: 20px;
  --wzz-font-size-3xl-l: 21px;
  --wzz-font-size-4xl: 22px;
  --wzz-font-size-5xl: 24px;

  --wzz-spacing-xs: 2px;
  --wzz-spacing-sm: 3px;
  --wzz-spacing-md: 4px;
  --wzz-spacing-lg: 6px;
  --wzz-spacing-xl: 8px;
  --wzz-spacing-xxl: 12px;
  --wzz-spacing-3xl: 16px;
  --wzz-spacing-4xl: 24px;
  --wzz-spacing-5xl: 32px;
  --wzz-spacing-6xl: 48px;
  --wzz-spacing-7xl: 64px;
  --wzz-spacing-8xl: 96px;

  @media (min-width: #{$wzz-width-xxl}) {
    --wzz-max-width: 1360px;
  }

  @media (max-width: #{$wzz-width-xxl}) {
    --wzz-max-width: 100%;
  }

  @media (min-width: #{$wzz-width-lg}) {
    --wzz-spacing-x-xxl: 10px;
    --wzz-spacing-3-4xl: 20px;
    --wzz-spacing-5-6xl: 40px;
    --wzz-spacing-6-7xl: 60px;
    --wzz-spacing-7-8xl: 80px;
  }

  @media (max-width: #{$wzz-width-lg}) {
    --wzz-spacing-x-xxl: 6px;
    --wzz-spacing-3-4xl: 12px;
    --wzz-spacing-5-6xl: 24px;
    --wzz-spacing-6-7xl: 36px;
    --wzz-spacing-7-8xl: 48px;
  }
}
