.c1c {
    &-t {
        font-size: var(--wzz-font-size-xxl);
        font-weight: 500;
        font-family: "trajan", sans-serif;
        line-height: 28px;
    }
}

.c1s {
    padding: var(--wzz-spacing-xxl) 0;
}

.c1 {
    position: relative;
    color: var(--ion-color-medium);
    padding: var(--wzz-spacing-xxl);
    cursor: pointer;

    a {
        pointer-events: none;
    }

    &:hover {
        color: var(--ion-color-dark);
    }

    &.selected {
        color: var(--ion-color-dark);
        font-weight: 500;
        &::before {
            border-left-color: var(--ion-color-dark);
        }
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 13px;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        border-left: 1px solid transparent;
    }
}
