.p3c {
    border-top: 1px solid var(--ion-color-light);
    padding: var(--wzz-spacing-x-xxl) 0;
}

.p3s {
    padding: var(--wzz-spacing-x-xxl) 0;
    &-t {
        font-size: var(--wzz-font-size-xl);
        font-weight: 500;
        font-family: "trajan", sans-serif;
        line-height: 24px;
    }
    &-n {
        display: flex;
        flex-wrap: wrap;
        margin-right: calc(var(--wzz-spacing-3xl) * -1);
        font-weight: 500;
    }
}

.p3 {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70px;
    height: 32px;
    border: 1px solid var(--ion-color-light-shade);
    padding: 0 var(--wzz-spacing-xxl);
    margin: var(--wzz-spacing-xxl) var(--wzz-spacing-3xl) 0 0;
    cursor: pointer;
    &.selected {
        color: var(--ion-color-dark);
        border-color: var(--ion-color-dark);
    }
}
