@import "src/app/fw/styles/_variables";
@import "./_state";
@import "./_coupon";

.host {
    user-select: none;
    &-header {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 2;
        padding: 0 var(--wzz-spacing-xxl);
    }
    &-main {
        padding: 0 var(--wzz-spacing-3-4xl);
    }
}

:host {
    &.modal {
        .tab {
            &-header {
                padding: 0;
            }
            &-main {
                padding: 0;
            }
        }
        .c1 {
            cursor: pointer;
            flex: 0 0 50%;
        }
    }
}
