<ng-container *ngIf="data">
  <a class="image" [routerLink]="[language, 'product-detail', data.id, data.idno] | routerLink">
    <img [src]="data.ImgPath" [alt]="data.Name">
    <div class="sale" *ngIf="!asGift && discount">{{'Sale' | translate | uppercase}}</div>
    <ng-content select="[slot=num]"></ng-content>
  </a>
  <div class="inner">
    <div class="name">{{data.Name}}</div>
    <ng-container *ngIf="!asGift">
      <div class="price">
        <span class="new">{{data.Price*(1-discount) | currency: 'EUR'}}</span>
        <span class="old" *ngIf="discount">{{data.Price | currency: 'EUR'}}</span>
      </div>
      <div class="discount" *ngIf="discount" translate="Risparmi P"
        [translateParams]="{p: data.Price*discount | currency: 'EUR'}">
      </div>
    </ng-container>
  </div>
</ng-container>