<ion-app ngSkipHydration>
  <ion-router-outlet [id]="contentId" [animated]="false"></ion-router-outlet>
</ion-app>

<ion-menu side="start" [menuId]="menuId" [contentId]="contentId" [swipeGesture]="false" *ngIf="!ssr">
  <ion-header mode="ios" style="border-bottom: 1px solid var(--ion-color-light-shade);">
    <ion-toolbar>
      <ion-title mode="md" style="padding: 0 var(--wzz-spacing-xxl); font-weight: 400;">
        {{'Menu' | translate}}</ion-title>
      <ion-buttons slot="end">
        <button class="modal-back-btn" (click)="onCloseMenu(menuId)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <wzz-menu #wzzMenu (change)="onCloseMenu(menuId)"></wzz-menu>
  </ion-content>
</ion-menu>

<div id="photoviewer-container" style="width: 100%; min-height: 100%;">
</div>