.footer {
    display: flex;
    padding: var(--wzz-spacing-xxl);
    border-top: 1px solid var(--ion-color-light-shade);
    &-c1 {
        flex: 1;
        font-size: var(--wzz-font-size-md);
        margin-right: var(--wzz-spacing-xxl);
    }

    &-btn {
        display: flex;
        align-items: center;
        font-size: var(--wzz-font-size-lg);
        padding: 0 var(--wzz-spacing-3xl);
        height: 40px;
        color: #fff;
        background: var(--ion-color-dark);
    }
}
