@import "src/app/fw/styles/_variables";
@import "src/app/fw/styles/_container";

@import "./_gdpr";

.host {
    line-height: 1.7;
    &-inner {
        --wzz-max-width: 1000px;
        @include container;
        flex-direction: column;
        padding: 0 var(--wzz-spacing-3-4xl) var(--wzz-spacing-7-8xl);
    }
}

.t1 {
    text-align: center;
    font-family: "trajan", sans-serif;
    font-weight: 500;
    padding-top: var(--wzz-spacing-5-6xl);

    @media (min-width: #{$wzz-width-lg}) {
        font-size: 28px;
    }
    @media (min-width: #{$wzz-width-md}) and (max-width: #{$wzz-width-lg}) {
        font-size: 24px;
    }
    @media (max-width: #{$wzz-width-md}) {
        font-size: 18px;
    }
}
