.c2s {
    padding: var(--wzz-spacing-x-xxl);
}

.c2 {
    padding: var(--wzz-spacing-x-xxl);
    user-select: none;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
        color: var(--ion-color-primary);
    }
}
