/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// // global.scss
// @import "~@ionic/angular/css/ionic-swiper.css";

@import "src/app/fw/styles/_variables";
@import "src/app/fw/styles/_reset";
@import "src/app/fw/styles/_media-query";

@import "src/app/styles/_accept-cookie-toast";
@import "src/app/fw/styles/_lang-as";

@import "src/app/styles/_modal-product-prop";

@import "src/app/styles/_modal-style";
@import "src/app/styles/_modal-t1";
@import "src/app/styles/_modal-t2";
@import "src/app/styles/_modal-t3";
@import "src/app/styles/_modal-t4";
@import "src/app/styles/_as-t2";

@import "src/app/styles/popover-t1";
@import "src/app/styles/popover-t2";

@font-face {
    font-family: "zh";
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/HarmonyOS_Sans_SC_Bold.ttf");
}

@font-face {
    font-family: "zh";
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/HarmonyOS_Sans_SC_Medium.ttf");
}

@font-face {
    font-family: "zh";
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf");
}

@font-face {
    font-family: "trajan";
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/TrajanPro3-Bold.otf");
}

@font-face {
    font-family: "trajan";
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/TrajanPro3-Semibold.otf");
}

@font-face {
    font-family: "trajan";
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/TrajanPro3-Regular.otf");
}

html.md {
    --ion-default-font: Roboto, "Helvetica Neue", "zh", sans-serif;
}

html.ios {
    --ion-default-font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "zh", sans-serif;
}

// ion-header {
//     display: block;
//     border-bottom: 1px solid rgba(var(--ion-color-light-shader-rgb), var(--opacity-scale, 1));
// }

.host {
    color: var(--ion-color-dark);
    font-size: var(--wzz-font-size-lg);
    min-height: 100%;
    line-height: 1.5;
}

.root-content {
    &::part(scroll) {
        overflow-y: scroll;
    }
}
